<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belajar Vue js</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    
    <!-- Pelajaran 1 -->
    <div id="app">
        {{ pesan }}
    </div>


    <!-- Pelajaran 2 -->
    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few second
            to see my dynamically bound title!
        </span>
    </div>

    <!-- pelajaran 3 -->
    <div id="app-3">
        <span v-if="seen">Now You See Me</span>
    </div>

    <!-- pelajaran4 -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <!-- pelajaran5 -->
    <div id="app-5">
        <p> {{ message }} </p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <!-- pelajaran6 -->
    <div id="app-6">
        <p> {{ message }} </p>
        <input v-model="message">
    </div>

    <!-- pelajaran komponen -->
    <div id="app_comp">
        <ol>
            <todo-item></todo-item>
            <todo-item></todo-item>
        </ol>
    </div>
        
    <!-- pelajaran7 -->
    <div id="app-7">
        <ol>
            <todo-items  v-for="item in groceryList"
                        v-bind:todo="item"
                        v-bind:key="item.id">
            </todo-items>
        </ol>
    </div>


    <script src="../js/belajarvue.js"></script>
</body>
</html>